@import "bootstrap/scss/bootstrap";

#App {
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

.alert {
	p:last-of-type {
		margin-bottom: 0;
	}
}

.todolist {
	.todo {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.done {
			.todo-title {
				color: $success;
				font-style: italic;
				text-decoration: line-through;
			}
		}
	}
}
